<div class="col-10 offset-1 about">
  <h2>About Splurty</h2>
  <br><p>I have done a lot of things.  I'm not just a programmer and a web developer.</p>
  <p>I am an occasional Mobile Disc Jockey.  Usually I do it as a community service.  
  Sometimes I do it professionally.</p>
  <p>As part of my routine I used to do "readings from a good book". 
  The good book that I used was Jeff Foxworthy's <i> You Might Be a Redneck</i>.</p>
  <p>One day a person pulled a gun on me because he didn't like anyone disparaging rednecks.
  I consider redneck a term of endearment like &quot;Salt of the Earth&quot;.</p>
  <p>My wife strongly suggested I quit reading from a good book. Strongly!</p>
  <p>So I made up my own &quot;You Might Be City Folk&quot; quips.</p>
  <br/>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'DanInGrayTShirt.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Dan Garcia</h2>
      <br />
      <p>
        Dan Garcia is a web developer and a programmer/analyst. 
        Dan has a Bachelors of Science degree in Business Administration and is an MCSE.
        He has programmed various business systems at Hughes Aircraft where he had primary responsibility for a cashiering system.
        He has been a customer support supervisor for a financial software house and a loan officer.
 
        He has written his own text editor patterned after the HP-3000 and Primos system editors.
        He has had experience with water chemistry.
        His other skills include nuclear mechanics,
        electronics technology, machining, CNC machining, electronic assembly (PCBs, cables, bezels, LCDs).  
        He has had his own specialty printing business (screen, pad, dye sublimation).
        Being married to a retired lawyer, he understands the business of law.
      </p>
      <p>One question.  Who would you prefer to develop your website? 
        Someone who understands your business or someone who doesn't?
      </p>
    </div>
  </div>   

   
</div>
<br class="clear" />
<br />
<br />
<br />
<br />
